@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: outfit;
}
:root {
  --bg-primary: #5A2A27;
}

:root {
  --bg-brown: #D49F9B;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /*Used in TopDoctors.jsx  use this instead of grid grid-cols-auto*/  
}

.active hr {
  @apply block; /* When clicked particuker navbar, that will be underlined */
}

::-webkit-scrollbar {
  @apply hidden;
}
